<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hello page</h1>
    <p>feedback</p>
    <form method="post" action="">
        <input type="text" name="uname" id="" placeholder="uname">
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <input type="button" name="feedback" value="submit">
    </form>
</body>

</html>